Cours 8/exercices/exercice3/schemaPoesie.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2020-11-16T12:05:04Z. .
TEI Edition: Version 4.1.0. Last updated on
	19th August 2020, revision b414ba550
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.1.0/
  
--><!--This material is dual-licensed.
[http://creativecommons.org/licenses/by-sa/3.0/] Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2013 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the  TEI Consortium .-->
   <define name="tei_macro.paraContent">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.gLike"/>
            <ref name="tei_model.phrase"/>
            <ref name="tei_model.inter"/>
            <ref name="tei_model.global"/>
            <ref name="tei_lg"/>
            <ref name="tei_model.lLike"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_macro.phraseSeq">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.gLike"/>
            <ref name="tei_model.attributable"/>
            <ref name="tei_model.phrase"/>
            <ref name="tei_model.global"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_att.canonical.attributes">
      <ref name="tei_att.canonical.attribute.key"/>
      <ref name="tei_att.canonical.attribute.ref"/>
   </define>
   <define name="tei_att.canonical.attribute.key">
      <optional>
         <attribute name="key">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">fournit un moyen, défini de façon externe, d'identifier l'entité (ou les entités) nommé(es), en utilisant une valeur codée d'un certain type.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.canonical.attribute.ref">
      <optional>
         <attribute name="ref">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(référence) fournit un moyen explicite de localiser une définition complète de l'entité nommée au moyen d'un ou plusieurs URIs.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.written.attributes">
      <ref name="tei_att.written.attribute.hand"/>
   </define>
   <define name="tei_att.written.attribute.hand">
      <optional>
         <attribute name="hand">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signale la main de celui qui est intervenue.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attributes">
      <ref name="tei_att.datable.w3c.attribute.when"/>
      <ref name="tei_att.datable.w3c.attribute.notBefore"/>
      <ref name="tei_att.datable.w3c.attribute.notAfter"/>
      <ref name="tei_att.datable.w3c.attribute.from"/>
      <ref name="tei_att.datable.w3c.attribute.to"/>
   </define>
   <define name="tei_att.datable.w3c.attribute.when">
      <optional>
         <attribute name="when">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">spécifie une date exacte pour un événement sous une forme normalisée, par ex. aaaa-mm-jj.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.notBefore">
      <optional>
         <attribute name="notBefore">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">spécifie la date la plus ancienne pour l'événement sous une forme normalisée, par ex. aaaa-mm-jj</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.notAfter">
      <optional>
         <attribute name="notAfter">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">spécifie la date la plus récente possible pour l'événement sous une forme normalisée, par ex. aaaa-mm-jj</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.from">
      <optional>
         <attribute name="from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indique le point de départ d'une période sous une forme normalisée, par ex. aaaa-mm-jj</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.to">
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indique le terme de la période sous une forme normalisée, par ex. aaaa-mm-jj</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="schemaPoesie-att.datable.w3c-att-datable-w3c-when-constraint-rule-1">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@when]">
        <sch:report role="nonfatal" test="@notBefore|@notAfter|@from|@to">The @when attribute cannot be used with any other att.datable.w3c attributes.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="schemaPoesie-att.datable.w3c-att-datable-w3c-from-constraint-rule-2">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@from]">
        <sch:report role="nonfatal" test="@notBefore">The @from and @notBefore attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="schemaPoesie-att.datable.w3c-att-datable-w3c-to-constraint-rule-3">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@to]">
        <sch:report role="nonfatal" test="@notAfter">The @to and @notAfter attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <define name="tei_att.datable.attributes">
      <ref name="tei_att.datable.w3c.attributes"/>
      <ref name="tei_att.datable.iso.attributes"/>
      <ref name="tei_att.datable.custom.attributes"/>
      <ref name="tei_att.datable.attribute.calendar"/>
      <ref name="tei_att.datable.attribute.period"/>
   </define>
   <define name="tei_att.datable.attribute.calendar">
      <optional>
         <attribute name="calendar">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indique le système ou le calendrier auquel appartient la date exprimée dans le contenu de l'élément.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="schemaPoesie-att.datable-calendar-calendar-constraint-rule-4">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@calendar]">
            <sch:assert test="string-length(.) gt 0"> @calendar indicates the system or calendar to
              which the date represented by the content of this element belongs, but this
              <sch:name/> element has no textual content.</sch:assert>
          </sch:rule>
   </pattern>
   <define name="tei_att.datable.attribute.period">
      <optional>
         <attribute name="period">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">fournit un pointeur vers un emplacement donné définissant une période de temps nommée durant laquelle l'item concerné s'inscrit.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declarable.attributes">
      <ref name="tei_att.declarable.attribute.default"/>
   </define>
   <define name="tei_att.declarable.attribute.default">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="default"
                    a:defaultValue="false">
            <a:documentation>Indique si oui ou non cet élément est affecté par défaut quand son élément parent a été sélectionné.</a:documentation>
            <choice>
               <value>true</value>
               <a:documentation>cet élément est choisi si son parent est choisi</a:documentation>
               <value>false</value>
               <a:documentation>cet élément ne peut être sélectionné qu'explicitement, à moins qu'il ne soit le seul de ce type, auquel cas il est sélectionné si son parent a été choisi</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declaring.attributes">
      <ref name="tei_att.declaring.attribute.decls"/>
   </define>
   <define name="tei_att.declaring.attribute.decls">
      <optional>
         <attribute name="decls">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifie un ou plusieurséléments déclarables dans l'en-tête TEI, qui sont destinés à s'appliquer à l'élément portant cet attribut et à son contenu.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.fragmentable.attributes">
      <ref name="tei_att.fragmentable.attribute.part"/>
   </define>
   <define name="tei_att.fragmentable.attribute.part">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="part"
                    a:defaultValue="N">
            <a:documentation>specifies whether or not its parent element is fragmented in some way, typically by some other overlapping structure: for example a speech which is divided between two or more verse stanzas, a paragraph which is split across a page division, a verse line which is divided between two speakers.</a:documentation>
            <choice>
               <value>Y</value>
               <a:documentation>(yes) the element is fragmented in some (unspecified) respect</a:documentation>
               <value>N</value>
               <a:documentation>(no) the element is not fragmented, or no claim is made as to its completeness</a:documentation>
               <value>I</value>
               <a:documentation>(initial) this is the initial part of a fragmented element</a:documentation>
               <value>M</value>
               <a:documentation>(medial) this is a medial part of a fragmented element</a:documentation>
               <value>F</value>
               <a:documentation>(final) this is the final part of a fragmented element</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.divLike.attributes">
      <ref name="tei_att.fragmentable.attributes"/>
      <ref name="tei_att.divLike.attribute.org"/>
      <ref name="tei_att.divLike.attribute.sample"/>
   </define>
   <define name="tei_att.divLike.attribute.org">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="org"
                    a:defaultValue="uniform">
            <a:documentation>(organisation) précise l'organisation du contenu de la division</a:documentation>
            <choice>
               <value>composite</value>
               <a:documentation>aucune déclaration n'est faite quant à l'ordre dans lequel les composants de cette division doivent être traités ou bien quant à leurs corrélations</a:documentation>
               <value>uniform</value>
               <a:documentation>contenu uniforme : c'est-à-dire que les composants de cet élément sont à considérer comme formant une unité logique et doivent être traités dans l'ordre séquentiel</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.divLike.attribute.sample">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="sample"
                    a:defaultValue="complete">
            <a:documentation>indique si cette division est un échantillon de la source originale et dans ce cas, de quelle partie.</a:documentation>
            <choice>
               <value>initial</value>
               <a:documentation>par rapport à la source, lacune à la fin de la division</a:documentation>
               <value>medial</value>
               <a:documentation>par rapport à la source, lacune au début et à la fin de la division</a:documentation>
               <value>final</value>
               <a:documentation>par rapport à la source, lacune au début de la division</a:documentation>
               <value>unknown</value>
               <a:documentation>par rapport à la source, position de l'échantillon inconnue</a:documentation>
               <value>complete</value>
               <a:documentation>la division n'est pas un échantillon</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.docStatus.attributes">
      <ref name="tei_att.docStatus.attribute.status"/>
   </define>
   <define name="tei_att.docStatus.attribute.status">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="status"
                    a:defaultValue="draft">
            <a:documentation>describes the status of a document either currently or, when associated with a dated element, at the time indicated.
Sample values include: 1] approved; 2] candidate; 3] cleared; 4] deprecated; 5] draft; 6] embargoed; 7] expired; 8] frozen; 9] galley; 10] proposed; 11] published; 12] recommendation; 13] submitted; 14] unfinished; 15] withdrawn</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attributes">
      <ref name="tei_att.global.responsibility.attribute.cert"/>
      <ref name="tei_att.global.responsibility.attribute.resp"/>
   </define>
   <define name="tei_att.global.responsibility.attribute.cert">
      <optional>
         <attribute name="cert">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certitude) donne le degré de certitude associée à l'intervention ou à l'interprétation.</a:documentation>
            <choice>
               <data type="double"/>
               <choice>
                  <value>high</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>medium</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>low</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attribute.resp">
      <optional>
         <attribute name="resp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsable) indique l'agent responsable de l'intervention ou de l'interprétation, par exemple un éditeur ou un transcripteur.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attributes">
      <ref name="tei_att.global.rendition.attribute.rend"/>
      <ref name="tei_att.global.rendition.attribute.style"/>
      <ref name="tei_att.global.rendition.attribute.rendition"/>
   </define>
   <define name="tei_att.global.rendition.attribute.rend">
      <optional>
         <attribute name="rend">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(interprétation) indique comment l'élément en question a été rendu ou présenté dans le texte source</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.style">
      <optional>
         <attribute name="style">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.rendition">
      <optional>
         <attribute name="rendition">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">pointe vers une description du rendu ou de la présentation utilisés pour cet élément dans le texte source</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.source.attributes">
      <ref name="tei_att.global.source.attribute.source"/>
   </define>
   <define name="tei_att.global.source.attribute.source">
      <optional>
         <attribute name="source">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the source from which some aspect of this element is drawn.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attributes">
      <ref name="tei_att.global.rendition.attributes"/>
      <ref name="tei_att.global.responsibility.attributes"/>
      <ref name="tei_att.global.source.attributes"/>
      <ref name="tei_att.global.attribute.xmlid"/>
      <ref name="tei_att.global.attribute.n"/>
      <ref name="tei_att.global.attribute.xmllang"/>
      <ref name="tei_att.global.attribute.xmlbase"/>
      <ref name="tei_att.global.attribute.xmlspace"/>
   </define>
   <define name="tei_att.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifiant) fournit un identifiant unique pour l'élément qui porte l'attribut</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.n">
      <optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(nombre) donne un nombre (ou une autre étiquette) pour un élément, qui n'est pas nécessairement unique dans le document TEI.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(langue) indique la langue du contenu de l'élément en utilisant les codes du <a xmlns="http://www.w3.org/1999/xhtml"
                  href="http://www.ietf.org/rfc/rfc3066.txt">RFC 3066</a>
            </a:documentation>
            <choice>
               <data type="language"/>
               <choice>
                  <value/>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlbase">
      <optional>
         <attribute name="xml:base">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">donne une référence URI de base au moyen de laquelle les applications peuvent résoudre des références d'URI relatives en références d'URI absolues</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlspace">
      <optional>
         <attribute name="xml:space">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signale que les applications doivent préserver l'espace blanc</a:documentation>
            <choice>
               <value>default</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals that the application's default white-space processing modes are acceptable</a:documentation>
               <value>preserve</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the intent that applications preserve all white space</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.naming.attributes">
      <ref name="tei_att.canonical.attributes"/>
      <ref name="tei_att.naming.attribute.role"/>
      <ref name="tei_att.naming.attribute.nymRef"/>
   </define>
   <define name="tei_att.naming.attribute.role">
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.naming.attribute.nymRef">
      <optional>
         <attribute name="nymRef">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(référence au nom canonique) indique comment localiser la forme canonique (nym) des noms qui sont associés à l'objet nommé par l'élément qui le contient.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.placement.attributes">
      <ref name="tei_att.placement.attribute.place"/>
   </define>
   <define name="tei_att.placement.attribute.place">
      <optional>
         <attribute name="place">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifie où cet item se trouve.
Suggested values include: 1] below; 2] bottom; 3] margin; 4] top; 5] opposite; 6] overleaf; 7] above; 8] end; 9] inline; 10] inspace</a:documentation>
            <list>
               <oneOrMore>
                  <choice>
                     <value>below</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">au-dessous de la ligne</a:documentation>
                     <value>bottom</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">dans la marge inférieure</a:documentation>
                     <value>margin</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">dans la marge (gauche, droite ou les deux en même temps)</a:documentation>
                     <value>top</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">dans la marge supérieure</a:documentation>
                     <value>opposite</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">sur la page opposée</a:documentation>
                     <value>overleaf</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">de l'autre côté de la feuille</a:documentation>
                     <value>above</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">au-dessus de la ligne</a:documentation>
                     <value>end</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">à la fin, par exemple d'un chapitre ou d'un volume</a:documentation>
                     <value>inline</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">dans le corps du texte</a:documentation>
                     <value>inspace</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">dans un espace prédéfini, par exemple à gauche d'un scripteur précédent</a:documentation>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </choice>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attributes">
      <ref name="tei_att.typed.attribute.type"/>
      <ref name="tei_att.typed.attribute.subtype"/>
   </define>
   <define name="tei_att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">caractérise l'élément en utilisant n'importe quel système ou typologie de classification approprié.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attribute.subtype">
      <optional>
         <attribute name="subtype">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(sous-type) fournit une sous-catégorisation de l'élément, si c'est nécessaire.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="schemaPoesie-att.typed-subtypeTyped-constraint-rule-5">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@subtype]">
        <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_att.sortable.attributes">
      <ref name="tei_att.sortable.attribute.sortKey"/>
   </define>
   <define name="tei_att.sortable.attribute.sortKey">
      <optional>
         <attribute name="sortKey">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the sort key for this element in an index, list or group which contains it.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike.agent_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike.agent_sequence">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.segLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike">
      <choice>
         <ref name="tei_title"/>
      </choice>
   </define>
   <define name="tei_model.emphLike_alternation">
      <choice>
         <ref name="tei_title"/>
      </choice>
   </define>
   <define name="tei_model.emphLike_sequence">
      <ref name="tei_title"/>
   </define>
   <define name="tei_model.emphLike_sequenceOptional">
      <optional>
         <ref name="tei_title"/>
      </optional>
   </define>
   <define name="tei_model.emphLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_title"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.emphLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_title"/>
      </oneOrMore>
   </define>
   <define name="tei_model.highlighted">
      <choice>
         <ref name="tei_model.hiLike"/>
         <ref name="tei_model.emphLike"/>
      </choice>
   </define>
   <define name="tei_model.dateLike">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.graphicLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.msdesc">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.edit">
      <choice>
         <ref name="tei_model.pPart.editorial"/>
         <ref name="tei_model.pPart.transcriptional"/>
      </choice>
   </define>
   <define name="tei_model.ptrLike">
      <notAllowed/>
   </define>
   <define name="tei_model.lPart">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike">
      <notAllowed/>
   </define>
   <define name="tei_model.gLike">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_sequence">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.phrase.xml">
      <notAllowed/>
   </define>
   <define name="tei_model.specDescLike">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike">
      <choice>
         <ref name="tei_bibl"/>
      </choice>
   </define>
   <define name="tei_model.biblLike_alternation">
      <choice>
         <ref name="tei_bibl"/>
      </choice>
   </define>
   <define name="tei_model.biblLike_sequence">
      <ref name="tei_bibl"/>
   </define>
   <define name="tei_model.biblLike_sequenceOptional">
      <optional>
         <ref name="tei_bibl"/>
      </optional>
   </define>
   <define name="tei_model.biblLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_bibl"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.biblLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_bibl"/>
      </oneOrMore>
   </define>
   <define name="tei_model.headLike">
      <choice>
         <ref name="tei_head"/>
      </choice>
   </define>
   <define name="tei_model.headLike_alternation">
      <choice>
         <ref name="tei_head"/>
      </choice>
   </define>
   <define name="tei_model.headLike_sequence">
      <ref name="tei_head"/>
   </define>
   <define name="tei_model.headLike_sequenceOptional">
      <optional>
         <ref name="tei_head"/>
      </optional>
   </define>
   <define name="tei_model.headLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_head"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.headLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_head"/>
      </oneOrMore>
   </define>
   <define name="tei_model.labelLike">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.noteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.lLike">
      <choice>
         <ref name="tei_l"/>
      </choice>
   </define>
   <define name="tei_model.lLike_alternation">
      <choice>
         <ref name="tei_l"/>
      </choice>
   </define>
   <define name="tei_model.lLike_sequence">
      <ref name="tei_l"/>
   </define>
   <define name="tei_model.lLike_sequenceOptional">
      <optional>
         <ref name="tei_l"/>
      </optional>
   </define>
   <define name="tei_model.lLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_l"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.lLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_l"/>
      </oneOrMore>
   </define>
   <define name="tei_model.pLike">
      <choice>
         <ref name="tei_p"/>
      </choice>
   </define>
   <define name="tei_model.pLike_alternation">
      <choice>
         <ref name="tei_p"/>
      </choice>
   </define>
   <define name="tei_model.pLike_sequence">
      <ref name="tei_p"/>
   </define>
   <define name="tei_model.pLike_sequenceOptional">
      <optional>
         <ref name="tei_p"/>
      </optional>
   </define>
   <define name="tei_model.pLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_p"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.pLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_p"/>
      </oneOrMore>
   </define>
   <define name="tei_model.stageLike">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit">
      <notAllowed/>
   </define>
   <define name="tei_model.divPart">
      <choice>
         <ref name="tei_model.lLike"/>
         <ref name="tei_model.pLike"/>
         <ref name="tei_lg"/>
      </choice>
   </define>
   <define name="tei_model.placeNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeStateLike">
      <choice>
         <ref name="tei_model.placeNamePart"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_alternation">
      <choice>
         <ref name="tei_model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_sequence">
      <ref name="tei_model.placeNamePart_sequence"/>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="tei_model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.publicationStmtPart.agency">
      <notAllowed/>
   </define>
   <define name="tei_model.publicationStmtPart.detail">
      <choice>
         <ref name="tei_model.ptrLike"/>
      </choice>
   </define>
   <define name="tei_model.quoteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.attributable">
      <choice>
         <ref name="tei_model.quoteLike"/>
      </choice>
   </define>
   <define name="tei_model.attributable_alternation">
      <choice>
         <ref name="tei_model.quoteLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.attributable_sequence">
      <ref name="tei_model.quoteLike_sequence"/>
   </define>
   <define name="tei_model.attributable_sequenceOptional">
      <optional>
         <ref name="tei_model.quoteLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.attributable_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.quoteLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.attributable_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.quoteLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.respLike">
      <choice>
         <ref name="tei_author"/>
         <ref name="tei_editor"/>
      </choice>
   </define>
   <define name="tei_model.divWrapper">
      <notAllowed/>
   </define>
   <define name="tei_model.divTopPart">
      <choice>
         <ref name="tei_model.headLike"/>
      </choice>
   </define>
   <define name="tei_model.divTop">
      <choice>
         <ref name="tei_model.divWrapper"/>
         <ref name="tei_model.divTopPart"/>
      </choice>
   </define>
   <define name="tei_model.divBottomPart">
      <notAllowed/>
   </define>
   <define name="tei_model.divBottom">
      <choice>
         <ref name="tei_model.divWrapper"/>
         <ref name="tei_model.divBottomPart"/>
      </choice>
   </define>
   <define name="tei_model.imprintPart">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike">
      <choice>
         <ref name="tei_model.nameLike.agent"/>
         <ref name="tei_model.offsetLike"/>
         <ref name="tei_model.placeStateLike"/>
         <ref name="tei_model.persNamePart"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_alternation">
      <choice>
         <ref name="tei_model.nameLike.agent_alternation"/>
         <ref name="tei_model.offsetLike_alternation"/>
         <ref name="tei_model.placeStateLike_alternation"/>
         <ref name="tei_model.persNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_sequence">
      <ref name="tei_model.nameLike.agent_sequence"/>
      <ref name="tei_model.offsetLike_sequence"/>
      <ref name="tei_model.placeStateLike_sequence"/>
      <ref name="tei_model.persNamePart_sequence"/>
   </define>
   <define name="tei_model.nameLike_sequenceOptional">
      <optional>
         <ref name="tei_model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.placeStateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.persNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.persNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.persNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.global">
      <choice>
         <ref name="tei_model.global.meta"/>
         <ref name="tei_model.milestoneLike"/>
         <ref name="tei_model.noteLike"/>
         <ref name="tei_model.global.edit"/>
      </choice>
   </define>
   <define name="tei_model.biblPart">
      <choice>
         <ref name="tei_model.respLike"/>
         <ref name="tei_model.imprintPart"/>
         <ref name="tei_bibl"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data">
      <choice>
         <ref name="tei_model.dateLike"/>
         <ref name="tei_model.measureLike"/>
         <ref name="tei_model.addressLike"/>
         <ref name="tei_model.nameLike"/>
      </choice>
   </define>
   <define name="tei_model.inter">
      <choice>
         <ref name="tei_model.egLike"/>
         <ref name="tei_model.oddDecl"/>
         <ref name="tei_model.biblLike"/>
         <ref name="tei_model.labelLike"/>
         <ref name="tei_model.listLike"/>
         <ref name="tei_model.stageLike"/>
         <ref name="tei_model.attributable"/>
      </choice>
   </define>
   <define name="tei_model.common">
      <choice>
         <ref name="tei_model.divPart"/>
         <ref name="tei_model.inter"/>
      </choice>
   </define>
   <define name="tei_model.phrase">
      <choice>
         <ref name="tei_model.segLike"/>
         <ref name="tei_model.highlighted"/>
         <ref name="tei_model.graphicLike"/>
         <ref name="tei_model.pPart.msdesc"/>
         <ref name="tei_model.pPart.edit"/>
         <ref name="tei_model.ptrLike"/>
         <ref name="tei_model.lPart"/>
         <ref name="tei_model.phrase.xml"/>
         <ref name="tei_model.specDescLike"/>
         <ref name="tei_model.pPart.data"/>
      </choice>
   </define>
   <define name="tei_model.divLike">
      <choice>
         <ref name="tei_div"/>
      </choice>
   </define>
   <define name="tei_model.divGenLike">
      <notAllowed/>
   </define>
   <define name="tei_model.div1Like">
      <notAllowed/>
   </define>
   <define name="tei_model.teiHeaderPart">
      <notAllowed/>
   </define>
   <define name="tei_model.sourceDescPart">
      <notAllowed/>
   </define>
   <define name="tei_model.resource">
      <choice>
         <ref name="tei_text"/>
      </choice>
   </define>
   <define name="tei_att.personal.attributes">
      <ref name="tei_att.naming.attributes"/>
      <ref name="tei_att.personal.attribute.full"/>
      <ref name="tei_att.personal.attribute.sort"/>
   </define>
   <define name="tei_att.personal.attribute.full">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="full"
                    a:defaultValue="yes">
            <a:documentation>indique si la composante du nom est donnée en intégralité, sous forme d'abréviation ou simplement d'initiale.</a:documentation>
            <choice>
               <value>yes</value>
               <a:documentation>(complet) la composante du nom est orthographiée en intégralité.</a:documentation>
               <value>abb</value>
               <a:documentation>(abrégé) la composante du nom est donnée sous forme abrégée.</a:documentation>
               <value>init</value>
               <a:documentation>(initiale) la composante du nom n'est indiquée que par sa lettre initiale.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.personal.attribute.sort">
      <optional>
         <attribute name="sort">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(ordre) précise dans quel ordre est placé la composante par rapport aux autres dans le nom d'une personne.</a:documentation>
            <data type="nonNegativeInteger"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_p">
      <element name="p">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(paragraphe) marque les paragraphes dans un texte en prose. [3.1. Paragraphs 7.2.5. Speech Contents]</a:documentation>
         <ref name="tei_macro.paraContent"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="schemaPoesie-p-abstractModel-structure-p-constraint-report-4">
            <rule context="tei:p">
               <report test="not(ancestor::tei:floatingText) and (ancestor::tei:p or ancestor::tei:ab)          and not(parent::tei:exemplum                |parent::tei:item                |parent::tei:note                |parent::tei:q                |parent::tei:quote                |parent::tei:remarks                |parent::tei:said                |parent::tei:sp                |parent::tei:stage                |parent::tei:cell                |parent::tei:figure                )">
        Abstract model violation: Paragraphs may not occur inside other paragraphs or ab elements.
      </report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="schemaPoesie-p-abstractModel-structure-l-constraint-report-5">
            <rule context="tei:p">
               <report test="ancestor::tei:l[not(.//tei:note//tei:p[. = current()])]">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab.
      </report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.fragmentable.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_head">
      <element name="head">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(en-tête) contient tout type d'en-tête, par exemple le titre d'une section, ou l'intitulé d'une liste, d'un glossaire, d'une description de manuscrit, etc. [4.2.1. Headings and Trailers]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_lg"/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_model.phrase"/>
               <ref name="tei_model.inter"/>
               <ref name="tei_model.lLike"/>
               <ref name="tei_model.global"/>
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.placement.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_author">
      <element name="author">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(auteur) dans une référence bibliographique contient le nom de la (des) personne(s) physique(s) ou du collectif, auteur(s) d'une oeuvre ; par exemple dans la même forme que celle utilisée par une référence bibliographique reconnue. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.naming.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_editor">
      <element name="editor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">mention de responsabilité secondaire pour un item bibliographique, par exemple le nom d'une personne, d'une institution ou d'un organisme (ou de plusieurs d'entre eux) comme éditeur scientifique, compilateur, traducteur, etc. [3.11.2.2. Titles, Authors, and Editors]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.naming.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(titre) contient le titre complet d'une oeuvre quelconque [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</a:documentation>
         <ref name="tei_macro.paraContent"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attribute.subtype"/>
         <ref name="tei_att.canonical.attributes"/>
         <ref name="tei_att.datable.attributes"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">caractérise le titre selon une typologie adaptée.
Sample values include: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc (descriptive)</a:documentation>
               <data type="token">
                  <param name="pattern">[^\p{C}\p{Z}]+</param>
               </data>
            </attribute>
         </optional>
         <optional>
            <attribute name="level">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indique le niveau bibliographique d'un titre, c'est-à-dire si ce titre identifie un article, un livre, une revue, une collection, ou un document non publié</a:documentation>
               <choice>
                  <value>a</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytique) titre analytique (article, poème ou autre, publié comme partie d'un ensemble plus grand)</a:documentation>
                  <value>m</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographique) titre de monographie (livre, ensemble ou autre, publié comme un document distinct, y compris les volumes isolés d'ouvrages en plusieurs volumes)</a:documentation>
                  <value>j</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(journal) titre de revue</a:documentation>
                  <value>s</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(série) titre de publication en série</a:documentation>
                  <value>u</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unpublished) titre de matéria non publié (thèses et dissertations comprises, à l'exception de leurs éditions commerciales)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_bibl">
      <element name="bibl">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(référence bibliographique.) contient une référence bibliographique faiblement structurée dans laquelle les sous-composants peuvent ou non être explicitement balisés. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_model.highlighted"/>
               <ref name="tei_model.pPart.data"/>
               <ref name="tei_model.pPart.edit"/>
               <ref name="tei_model.segLike"/>
               <ref name="tei_model.ptrLike"/>
               <ref name="tei_model.biblPart"/>
               <ref name="tei_model.global"/>
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.sortable.attributes"/>
         <ref name="tei_att.docStatus.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_l">
      <element name="l">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(vers) contient un seul vers, éventuellement incomplet. [3.12.1. Core Tags for Verse 3.12. Passages of Verse or Drama 7.2.5. Speech Contents]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_model.phrase"/>
               <ref name="tei_model.inter"/>
               <ref name="tei_model.global"/>
            </choice>
         </zeroOrMore>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="schemaPoesie-l-abstractModel-structure-l-constraint-report-6">
            <rule context="tei:l">
               <report test="ancestor::tei:l[not(.//tei:note//tei:l[. = current()])]">
        Abstract model violation: Lines may not contain lines or lg elements.
      </report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.fragmentable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_lg">
      <element name="lg">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(groupe de vers) contient un groupe de vers fonctionnant comme une unité formelle, par exemple une strophe, un refrain, un paragraphe en vers, etc. [3.12.1. Core Tags for Verse 3.12. Passages of Verse or Drama 7.2.5. Speech Contents]</a:documentation>
         <group>
      
            <zeroOrMore>
               <choice>
                  <ref name="tei_model.divTop"/>
                  <ref name="tei_model.global"/>
               </choice>
            </zeroOrMore>
      
            <choice>
               <ref name="tei_model.lLike"/>
               <ref name="tei_model.stageLike"/>
               <ref name="tei_model.labelLike"/>
               <ref name="tei_lg"/>
            </choice>
      
            <zeroOrMore>
               <choice>
                  <ref name="tei_model.lLike"/>
                  <ref name="tei_model.stageLike"/>
                  <ref name="tei_model.labelLike"/>
                  <ref name="tei_model.global"/>
                  <ref name="tei_lg"/>
               </choice>
            </zeroOrMore>
      
            <zeroOrMore>
               <group>
        
                  <ref name="tei_model.divBottom"/>
        
        
                  <zeroOrMore>
                     <ref name="tei_model.global"/>
                  </zeroOrMore>
        
               </group>
            </zeroOrMore>
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="schemaPoesie-lg-atleast1oflggapl-constraint-assert-3">
            <rule context="tei:lg">
               <sch:assert xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           test="count(descendant::tei:lg|descendant::tei:l|descendant::tei:gap) &gt; 0">An lg element
        must contain at least one child l, lg, or gap element.</sch:assert>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="schemaPoesie-lg-abstractModel-structure-l-constraint-report-7">
            <rule context="tei:lg">
               <report test="ancestor::tei:l[not(.//tei:note//tei:lg[. = current()])]">
        Abstract model violation: Lines may not contain line groups.
      </report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.divLike.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_att.datable.custom.attributes">
      <ref name="tei_att.datable.custom.attribute.when-custom"/>
      <ref name="tei_att.datable.custom.attribute.notBefore-custom"/>
      <ref name="tei_att.datable.custom.attribute.notAfter-custom"/>
      <ref name="tei_att.datable.custom.attribute.from-custom"/>
      <ref name="tei_att.datable.custom.attribute.to-custom"/>
      <ref name="tei_att.datable.custom.attribute.datingPoint"/>
      <ref name="tei_att.datable.custom.attribute.datingMethod"/>
   </define>
   <define name="tei_att.datable.custom.attribute.when-custom">
      <optional>
         <attribute name="when-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.notBefore-custom">
      <optional>
         <attribute name="notBefore-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.notAfter-custom">
      <optional>
         <attribute name="notAfter-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.from-custom">
      <optional>
         <attribute name="from-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.to-custom">
      <optional>
         <attribute name="to-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.datingPoint">
      <optional>
         <attribute name="datingPoint">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named point in time with reference to which the datable item is understood to have occurred</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.datingMethod">
      <optional>
         <attribute name="datingMethod">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to a <code xmlns="http://www.w3.org/1999/xhtml">&lt;calendar&gt;</code> element or other means of interpreting the values of the custom dating attributes.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.persNamePart">
      <choice>
         <ref name="tei_surname"/>
         <ref name="tei_forename"/>
      </choice>
   </define>
   <define name="tei_model.persNamePart_alternation">
      <choice>
         <ref name="tei_surname"/>
         <ref name="tei_forename"/>
      </choice>
   </define>
   <define name="tei_model.persNamePart_sequence">
      <ref name="tei_surname"/>
      <ref name="tei_forename"/>
   </define>
   <define name="tei_model.persNamePart_sequenceOptional">
      <optional>
         <ref name="tei_surname"/>
      </optional>
      <optional>
         <ref name="tei_forename"/>
      </optional>
   </define>
   <define name="tei_model.persNamePart_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_surname"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_forename"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.persNamePart_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_surname"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_forename"/>
      </oneOrMore>
   </define>
   <define name="tei_att.datable.iso.attributes">
      <ref name="tei_att.datable.iso.attribute.when-iso"/>
      <ref name="tei_att.datable.iso.attribute.notBefore-iso"/>
      <ref name="tei_att.datable.iso.attribute.notAfter-iso"/>
      <ref name="tei_att.datable.iso.attribute.from-iso"/>
      <ref name="tei_att.datable.iso.attribute.to-iso"/>
   </define>
   <define name="tei_att.datable.iso.attribute.when-iso">
      <optional>
         <attribute name="when-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">précise une date exacte pour l'évènement selon la forme normalisée ISO 8601, c'est-à-dire aaaa-mm-jj.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.notBefore-iso">
      <optional>
         <attribute name="notBefore-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">précise la première date possible pour l'évènement selon la forme normalisée, c'est-à-dire aaaa-mm-jj.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.notAfter-iso">
      <optional>
         <attribute name="notAfter-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">précise la dernière date possible pour l'évènement selon la forme normalisée, c'est-à-dire aaaa-mm-jj.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.from-iso">
      <optional>
         <attribute name="from-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indique le point de départ de la période sous une forme normalisée</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.to-iso">
      <optional>
         <attribute name="to-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indique le point final de la période sous une forme normalisée</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_surname">
      <element name="surname">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(nom de famille) contient un nom de famille (hérité) par opposition à un nom donné, nom de baptême ou surnom. [13.2.1. Personal Names]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.personal.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_forename">
      <element name="forename">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(prénom) contient un prénom, qu'il soit donné ou un nom de baptême. [13.2.1. Personal Names]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.personal.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_teiHeader">
      <element name="teiHeader">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(en-tête TEI) fournit des informations descriptives et déclaratives qui constituent une page de titre électronique au début de tout texte conforme à la TEI. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="tei_fileDesc"/>
            <zeroOrMore>
               <ref name="tei_model.teiHeaderPart"/>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_fileDesc">
      <element name="fileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description bibliographique du fichier) contient une description bibliographique complète du fichier électronique. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <group>
            <group>
               <ref name="tei_titleStmt"/>
        
          
        
        
          
        
               <ref name="tei_publicationStmt"/>
        
          
        
        
          
        
            </group>
      
            <oneOrMore>
               <ref name="tei_sourceDesc"/>
            </oneOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_titleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(mention de titre) regroupe les informations sur le titre d’une œuvre et les personnes ou institutions responsables de son contenu intellectuel. [2.2.1. The Title Statement 2.2. The File Description]</a:documentation>
         <group>
      
            <oneOrMore>
               <ref name="tei_title"/>
            </oneOrMore>
      
      
            <zeroOrMore>
               <ref name="tei_model.respLike"/>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_publicationStmt">
      <element name="publicationStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(mention de publication) regroupe des informations concernant la publication ou la diffusion d’un texte électronique ou d’un autre type de texte. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</a:documentation>
         <choice>
      
	           <oneOrMore>
               <group>
	  
	                 <ref name="tei_model.publicationStmtPart.agency"/>
	  
	  
	                 <zeroOrMore>
                     <ref name="tei_model.publicationStmtPart.detail"/>
                  </zeroOrMore>
	  
	              </group>
            </oneOrMore>
      
      
	           <oneOrMore>
               <ref name="tei_model.pLike"/>
            </oneOrMore>
      
         </choice>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_sourceDesc">
      <element name="sourceDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description de la source) décrit la source à partir de laquelle un texte électronique a été dérivé ou produit, habituellement une description bibliographique pour un texte numérisé, ou une expression comme "document numérique natif " pour un texte qui n'a aucune existence précédente. [2.2.7. The Source Description]</a:documentation>
         <choice>
            <oneOrMore>
               <ref name="tei_model.pLike"/>
            </oneOrMore>
            <oneOrMore>
               <choice>
                  <ref name="tei_model.biblLike"/>
                  <ref name="tei_model.sourceDescPart"/>
                  <ref name="tei_model.listLike"/>
               </choice>
            </oneOrMore>
         </choice>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_TEI">
      <element name="TEI">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(document TEI) contient un seul document conforme à la TEI, qui comprend un en-tête TEI et un texte, soit de façon isolée, soit comme partie d’un élément <code xmlns="http://www.w3.org/1999/xhtml">&lt;teiCorpus&gt;</code>. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="tei_teiHeader"/>
            <choice>
	              <group>
	                 <oneOrMore>
                     <ref name="tei_model.resource"/>
                  </oneOrMore>
	                 <zeroOrMore>
                     <ref name="tei_TEI"/>
                  </zeroOrMore>
	              </group>
	              <oneOrMore>
                  <ref name="tei_TEI"/>
               </oneOrMore>
            </choice>
         </group>
         <sch:ns xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 xmlns="http://www.tei-c.org/ns/1.0"
                 prefix="tei"
                 uri="http://www.tei-c.org/ns/1.0"/>
         <sch:ns xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 xmlns="http://www.tei-c.org/ns/1.0"
                 prefix="xs"
                 uri="http://www.w3.org/2001/XMLSchema"/>
         <sch:ns xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 xmlns="http://www.tei-c.org/ns/1.0"
                 prefix="rng"
                 uri="http://relaxng.org/ns/structure/1.0"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <optional>
            <attribute name="version">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">la version majeure du schéma TEI</a:documentation>
               <data type="token">
                  <param name="pattern">[\d]+(\.[\d]+){0,2}</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_text">
      <element name="text">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(texte) contient un seul texte quelconque, simple ou composite, par exemple un poème ou une pièce de théâtre, un recueil d’essais, un roman, un dictionnaire ou un échantillon de corpus. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
      
      
        
	           <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
      
            <choice>
               <ref name="tei_body"/>
        
            </choice>
      
      
        
	           <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_body">
      <element name="body">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(corps du texte) contient la totalité du corps d’un seul texte simple, à l’exclusion de toute partie pré- ou post-liminaire. [4. Default Text Structure]</a:documentation>
         <group>
      
      
            <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
      
      
      
            <optional>
               <group>
          
                  <ref name="tei_model.divTop"/>
          
          
                  <zeroOrMore>
                     <choice>
                        <ref name="tei_model.global"/>
                        <ref name="tei_model.divTop"/>
                     </choice>
                  </zeroOrMore>
          
               </group>
            </optional>
      
      
      
            <optional>
               <group>
          
                  <ref name="tei_model.divGenLike"/>
          
          
                  <zeroOrMore>
                     <choice>
                        <ref name="tei_model.global"/>
                        <ref name="tei_model.divGenLike"/>
                     </choice>
                  </zeroOrMore>
          
               </group>
            </optional>
      
      
        
            <choice>
          
          
               <oneOrMore>
                  <group>
              
                     <ref name="tei_model.divLike"/>
              
              
                     <zeroOrMore>
                        <choice>
                           <ref name="tei_model.global"/>
                           <ref name="tei_model.divGenLike"/>
                        </choice>
                     </zeroOrMore>
              
                  </group>
               </oneOrMore>
          
          
          
               <oneOrMore>
                  <group>
              
                     <ref name="tei_model.div1Like"/>
              
              
                     <zeroOrMore>
                        <choice>
                           <ref name="tei_model.global"/>
                           <ref name="tei_model.divGenLike"/>
                        </choice>
                     </zeroOrMore>
              
                  </group>
               </oneOrMore>
          
          
               <group>
                  <oneOrMore>
                     <group>
              
                        <ref name="tei_model.common"/>
              
              
                        <zeroOrMore>
                           <ref name="tei_model.global"/>
                        </zeroOrMore>
              
                     </group>
                  </oneOrMore>
            
                  <optional>
                     <choice>
                
                
                        <oneOrMore>
                           <group>
                    
                              <ref name="tei_model.divLike"/>
                    
                    
                              <zeroOrMore>
                                 <choice>
                                    <ref name="tei_model.global"/>
                                    <ref name="tei_model.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                    
                           </group>
                        </oneOrMore>
                
                
                
                        <oneOrMore>
                           <group>
                    
                              <ref name="tei_model.div1Like"/>
                    
                    
                              <zeroOrMore>
                                 <choice>
                                    <ref name="tei_model.global"/>
                                    <ref name="tei_model.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                    
                           </group>
                        </oneOrMore>
                
                     </choice>
                  </optional>
            
               </group>
            </choice>
        
      
      
      
            <zeroOrMore>
               <group>
          
                  <ref name="tei_model.divBottom"/>
          
          
                  <zeroOrMore>
                     <ref name="tei_model.global"/>
                  </zeroOrMore>
          
               </group>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_div">
      <element name="div">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(division du texte) contient une subdivision dans le texte préliminaire, dans le corps d’un texte ou dans le texte postliminaire. [4.1. Divisions of the Body]</a:documentation>
         <group>
      
            <zeroOrMore>
               <choice>
                  <ref name="tei_model.divTop"/>
          
                  <ref name="tei_model.global"/>
               </choice>
            </zeroOrMore>
      
            <optional>
               <group>
                  <choice>
          
                     <oneOrMore>
                        <group>
                           <choice>
                              <ref name="tei_model.divLike"/>
                              <ref name="tei_model.divGenLike"/>
                           </choice>
              
                           <zeroOrMore>
                              <ref name="tei_model.global"/>
                           </zeroOrMore>
              
                        </group>
                     </oneOrMore>
          
                     <group>
                        <oneOrMore>
                           <group>
              
                              <ref name="tei_model.common"/>
              
              
                              <zeroOrMore>
                                 <ref name="tei_model.global"/>
                              </zeroOrMore>
              
                           </group>
                        </oneOrMore>
                        <zeroOrMore>
                           <group>
                              <choice>
                                 <ref name="tei_model.divLike"/>
                                 <ref name="tei_model.divGenLike"/>
                              </choice>
              
                              <zeroOrMore>
                                 <ref name="tei_model.global"/>
                              </zeroOrMore>
              
                           </group>
                        </zeroOrMore>
                     </group>
                  </choice>
                  <zeroOrMore>
                     <group>
          
                        <ref name="tei_model.divBottom"/>
          
          
                        <zeroOrMore>
                           <ref name="tei_model.global"/>
                        </zeroOrMore>
          
                     </group>
                  </zeroOrMore>
               </group>
            </optional>
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="schemaPoesie-div-abstractModel-structure-l-constraint-report-8">
            <rule context="tei:div">
               <report test="ancestor::tei:l">
        Abstract model violation: Lines may not contain higher-level structural elements such as div.
      </report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="schemaPoesie-div-abstractModel-structure-p-constraint-report-9">
            <rule context="tei:div">
               <report test="ancestor::tei:p or ancestor::tei:ab and not(ancestor::tei:floatingText)">
        Abstract model violation: p and ab may not contain higher-level structural elements such as div.
      </report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.divLike.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="tei_TEI"/>
      </choice>
   </start>
</grammar>
